.speech{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font: 21px;
}
.direction{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:lightpink;
    color: black;
    font: 21px;
}
.direction:hover{
    background-color: lightskyblue;
    color: cadetblue;
}
.sir{
    color: coral;
    background-color: aquamarine;
}
.lady{
    color:aqua ;
}
table {
    font-family:'Gill Sans';
    border: 2px;
    text-align: center;
    width:50%;
    border-collapse:collapse;
    border-color: black;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    border-color: black;
}
th{
    padding: 5px;
    text-align: center;
    border: 1.5px solid #dddddd;
    border-color: black;
}
tr:nth-child(odd) {
    background-color:azure;
}

.sir:hover{
    text-shadow: 1px 1px;
    filter: blur(1px);
    border: 1px solid;
}
.lady:hover{
    text-shadow: 1px 4px 1px rgba(1, 2, 14, 0.6);
    filter: blur(0.3px);
    border: 1px solid;
    border-style: dotted;
}
ul.navbar-horizontal{
    list-style-type: none;
    margin: 0;
    padding:0;
}
ul.navbar-horizontal li{
   float:left;
   color:black;
   background-color: blue;

  }
  ul.navbar-horizontal a{
    display:block;
    padding:8px
  }
  ul.navbar-horizontal a:hover{
    background-color: blueviolet;
    color:black
  }










